.main {
  background-color: antiquewhite;
  padding: 20px;
}

.hidden {
  display: none;
}

.modal-visible {
  background-color: gray;
  opacity: 0.3;
}
.dialog {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 20%;
  background-color: white;
  border: 1px solid gray;
  padding: 20px;
  width: 400px;
  height: auto;
}